
.hidden {
    display: none;
}

.error {
    color: red;
    background: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.success {
    color: green;
    background: #e6ffe6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    pointer-events: auto !important;
    cursor: pointer !important;
    opacity: 1 !important;
}

.nav-tabs .nav-link {
    pointer-events: auto !important;
    cursor: pointer !important;
}


.btn {
    pointer-events: auto !important;
    cursor: pointer !important;
}
